<h3>Inicio</h3>
<div class="row" *ngIf="users">
    <div class="col-lg-3" *ngFor="let user of users.data">
        <div class="card" style="width: 18rem;">
            <img [src]="user.avatar" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
              <p class="card-text">{{user.email}}</p>
              <a [routerLink]="['info/', user.id]" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
</div>